@tailwind base;

@tailwind components;

@tailwind utilities;
/*
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Raleway:wght@200;300;400&family=Roboto:wght@300;400;500;700;900&display=swap');
*/
body{
    @apply font-raleway;
}

.activemenu, .menu-list li:hover {
    border-bottom: solid 2px #d92619;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #content {
    padding-top: 102px;
  }

button.owl-prev span {
    font-size: 100px;
    position: absolute;
    top: 300px;
    color: white;
    left: 20px;
    opacity: 0.4;
}

button.owl-next span {
    font-size: 100px;
    position: absolute;
    top: 300px;
    color: white;
    right: 20px;
    opacity: 0.4;
}

.title{
    @apply font-raleway font-black uppercase text-3xl;
}
.subtitle{
    line-height: 24px;
    @apply font-raleway font-light uppercase text-2xl mb-12;
}

.title::before {
    background: url(../img/title-bgs-1.png) no-repeat;
    content: "";
    height: 102px;
    left: -20px;
    position: absolute;
    top: -15px;
    width: 100px;
    z-index: -1;
}

/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { 
    .title{
        @apply text-4xl;
    }
    .title::before {
        background: url(../img/title-bgs-1.png) no-repeat;
        content: "";
        height: 102px;
        left: -20px;
        position: absolute;
        top: -15px;
        width: 100px;
        z-index: -1;
    }
 }

/* Large (lg) */
@media (min-width: 1024px) { 
    .title{
        @apply text-6xl;
    }
    .title::before {
        background: url(../img/title-bgs.png) no-repeat;
        content: "";
        height: 191px;
        left: -24px;
        position: absolute;
        top: -47px;
        width: 189px;
        z-index: -1;
    }



 }

/* Extra Large (xl) */
@media (min-width: 1280px) {  }

.buttonsportin{
    @apply font-raleway font-black px-16 py-4 border-2 border-sportinred border-solid rounded-full relative block my-12 mx-auto text-center uppercase transition ease-in duration-500;
}



.buttonsportin:hover {
    @apply bg-sportinred border-sportinred text-white;
}

.hero{
    @apply z-10 text-white;
}

.modal {
    transition: opacity 0.25s ease;
  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 40px !important;
}